* {
    box-sizing: border-box;
}

.box {
    background-color: MintCream;
    width: 70%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    scroll-snap-align: start;
}
.right {
    background-color: MintCream;
    float: right;
    width: 18%;
    padding: 15px;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7px;
    text-align: center;
    border-radius: 10px;

}
.left {
    background-color: MintCream;
    float: left;
    width: 18%;
    padding: 15px;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7px;
    text-align: center;
    border-radius: 10px;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #04AA6D;}

@media screen and (max-width: 600px) {
    ul.topnav li {float: none;}
    .box, .right, .left{width: 100%; height:auto}
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.h1 {
    font: 30px Arial, sans-serif;
    text-align: center;
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
}